<!-- <body>
    <header>
      <h1>Previous Bank Funding Data</h1>
    </header>
  
    <main>
      <section class="funding-data">
        <div class="data-item">
          <h2>January 2024</h2>
          <p class="totalFund">Total Funds: $10,000</p>
          <p>Loan Type: Personal Loan</p>
        </div>
        <div class="data-item">
          <h2>February 2024</h2>
          <p class="totalFund">Total Funds: $15,000</p>
          <p>Loan Type: Mortgage Loan</p>
        </div>
      </section>
    </main> -->

<!-- </body> -->

<app-aside></app-aside>
<h2 class="previousFundingHeader">PREVIOUS FUNDING</h2>
<div class="container">
  <input type="checkbox" name="" id="menu-toggle">
  <div class="overlay"><label for="menu-toggle">
    </label></div>

  <div class="main-content">
    <header>
      <h1>Previous Bank Funding Data</h1>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card" *ngIf="currentFundedData">
              <span type="button">
                <h2>{{ currentFundedData.month }} {{ currentFundedData.year }}</h2>
                <p class="totalFund">Total Funds: ${{ currentFundedData.totalFunds }}</p>
                <!-- <p>Loan Type: {{ currentFundedData.loanType }}</p> -->
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <span type="button" (click)="toNewFinancing()" >
                <!-- <i class="fas fa-dollar-sign"></i> -->
                <h2>New financing</h2>
                <p>Choose Plane</p>
              </span>
            </div>
          </div>
       
        </div>
        <table class="table table-striped table-hover">
          <thead style="background: #10182F !important;">
            <tr>
              <th scope="col">No</th>
              <th scope="col">Month</th>
              <th scope="col">Year</th>
              <th scope="col">Total Funds</th>
              <th scope="col">Loan Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of FundedData">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.month }}</td>
              <td>{{ item.year }}</td>
              <td>${{ item.totalFunds }}</td>
              <td>{{ item.loanType }}</td>
            </tr>
          </tbody>
        </table>
      
      </div>

    </main>
    
  </div>
  
</div>

<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>


