<!-- <body>
    <header>
      <h1>Previous Bank Funding Data</h1>
    </header>
  
    <main>
      <section class="funding-data">
        <div class="data-item">
          <h2>January 2024</h2>
          <p class="totalFund">Total Funds: $10,000</p>
          <p>Loan Type: Personal Loan</p>
        </div>
        <div class="data-item">
          <h2>February 2024</h2>
          <p class="totalFund">Total Funds: $15,000</p>
          <p>Loan Type: Mortgage Loan</p>
        </div>
      </section>
    </main> -->

<!-- </body> -->

<app-aside></app-aside>

<div class="container">
  <input type="checkbox" name="" id="menu-toggle">
  <div class="overlay"><label for="menu-toggle">
    </label></div>

  <div class="main-content">
    <header>
      <h1>Previous Bank Funding Data</h1>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <span type="button" >
                <i class="fas fa-chart-line"></i>
                <h2> Funding</h2>
                <p>$1,000,000</p>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <span type="button" >
                <i class="fas fa-dollar-sign"></i>
                <h2>New financing</h2>
                <p>Choose Plane</p>
              </span>
            </div>
          </div>
       
        </div>
        <table class="table table-striped  table-hover">
          <thead style="background: #10182F !important;">
            <tr>
              <th scope="col">No</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      
      </div>
<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>

    </main>
  </div>
</div>



