<app-header></app-header>

<!------------------------------------------ financing-calculator" -->
<section class="financing-calculator">
  <div class="container">
    <div class="coming-soon">
      <p>Coming Soon</p>
    </div>
    <h2>Financing Calculator</h2>
  </div>
</section>

<!-------------------------------------- why and how to apply  -->
<section class="apply-section">
  <div class="container">
    <div class="apply-content">
      <h2>Why & How to Apply With Us</h2>
      <p>We are committed to providing a positive place to invest and lead your money wise environment. Join our Comunity and make a difference at your life!</p>
      <p>Apply with us by following these simple steps:</p>
      <ol>
        <li>SignUp with Abshir id .</li>
        <li>Create user name .</li>
        <li>Create password.</li>
        <li>enjoy your unlimetit options of investments and finanacal leades</li>
      </ol>
    </div>
    <div class="apply-image">
      <img src="../../../assets/images/nesbalogo.png" alt="Apply Image">
    </div>
  </div>
</section>

<!-- FQA's seaction ------------------------------------------- -->
<h1 class="faqTitle" style="margin-left:120px;">- FQA'S :</h1>

<div class='faq'>
  <input id='faq-a' type='checkbox'>
  <label for='faq-a'>
    <p class="faq-heading">Is this Site  safe?</p>
    <div class='faq-arrow'></div>
      <p class="faq-text">It is completely safe and totally legal with ABSHIR! There will is no record of this process to your movments shared with anyone.</p>
  </label>
  <input id='faq-b' type='checkbox'>
  <label for='faq-b'>
    <p class="faq-heading">is my data needs to upgrade or fill with myself ?</p>
    <div class='faq-arrow'></div>
      <p class="faq-text">No need just write your abshir id and . <strong>all data will be drowed from abshir .</strong></p>
  </label>
  <input id='faq-c' type='checkbox'>
  <label for='faq-c'>
    <p class="faq-heading">How do i choose my investment plan?</p>
    <div class='faq-arrow'></div>
      <p class="faq-text">all your investment plans will be giving to you depends on your data and your income and assets</p>
  </label>
  <input id='faq-d' type='checkbox'>
  <label for='faq-d'>
    <p class="faq-heading">how much days it takes to git a new bank account?</p>
    <div class='faq-arrow'></div>
      <p class="faq-text"> <strong>just hours no more no less</strong> </p>
  </label>
  <input id='faq-e' type='checkbox'>
  <label for='faq-e'>
    <p class="faq-heading">can i see and review my money flow throw the website?</p>
    <div class='faq-arrow'></div>
      <p class="faq-text">Yes, you can, no worries .</p>
  </label>
   </div>
   <app-footer></app-footer>
