#mainNavigation {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  padding-bottom: 0;
  background: linear-gradient(  #10182F ,#10182ff3,#10182fce,#10182f1b ); 
  color: white;
  z-index: 1000; 

}

#mainNavigation a {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.navbar-expand-md .navbar-dark .navbar-toggler {
  /* background-color: #03727d;  */
  z-index: 1050;

}

.navbar-collapse {
  z-index: 1040;
}

.dropdown-menu {
  /* background: #03727d; */
  z-index: 1060; 
}

a.dropdown-toggle {
  color: #dfdfdf !important;
}

a.dropdown-item:hover {
  color: #03727d !important;
}

.nav-item a {
  color: #fff;
}

.nav-item a:hover {
  color: #dfdfdf;
}

.nav-item {
  min-width: 12vw;
}
