<app-aside></app-aside>
<h2 class="mortgageFinanceHeader">MORTGAGE FINANCE</h2>
<div class="card-container">
    <div class="card" (click)="showTable(1)">
        <h3>Mortgage Refinance</h3>
        <p>Click to see </p>
    </div>
    <div class="card" (click)="showTable(2)">
        <h3>Equity release</h3>
        <p>Click to see </p>
    </div>
    <div class="card" (click)="showTable(3)">
        <h3>Direct Purchase</h3>
        <p>Click to see </p>
    </div>
    <div class="card" (click)="showTable(4)">
        <h3>MOH program</h3>
        <p>Click to see </p>
    </div>
</div>

<div class="table-container">
    <!-- <table *ngIf="selectedTable === 1" class="data-table">
      <thead>
        <tr>
          <th>Land</th>
          <th>Buyout</th>
          <th>Ready unite</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Data 1.1</td>
          <td>Data 1.2</td>
          <td>Data 1.3</td>
        </tr>
      </tbody>
    </table>
  
    <table *ngIf="selectedTable === 2" class="data-table">
      <thead>
        <tr>
            <th>Land</th>
            <th>Buyout</th>
            <th>Ready unite</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Data 2.1</td>
          <td>Data 2.2</td>
          <td>Data 2.3</td>
        </tr>
      </tbody>
    </table>
  
    <table *ngIf="selectedTable === 3" class="data-table">
      <thead>
        <tr>
            <th>Land</th>
            <th>Buyout</th>
            <th>Ready unite</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Data 3.1</td>
          <td>Data 3.2</td>
          <td>Data 3.3</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="selectedTable === 4" class="data-table">
        <thead>
          <tr>
              <th>Buyout</th>
              <th>Self constaction</th>
              <th>Off plan product</th>
              <th>MOH land</th>
              <th>Market Ready units</th>
              <th>MOH Ready units</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Data 3.1</td>
            <td>Data 3.2</td>
            <td>Data 3.3</td>
            <td>Data 3.4</td>
            <td>Data 3.5</td>
            <td>Data 3.6</td>
          </tr>
        </tbody>
      </table> -->

    <div class="report-container" *ngIf="selectedTable === 1" class="data-table">
        
        <div class="report-header">
            <h1 class="recent-Articles">Mortgage Refinance Data</h1>
            <button class="view">View All</button>
        </div>

        <div class="report-body">
            <div class="report-topic-heading">
                <h3 class="t-op">Lender</h3>
                <h3 class="t-op">Loan Type</h3>
                <h3 class="t-op">Interest Rate</h3>
                <h3 class="t-op">Monthly Payment</h3>
                <h3 class="t-op">Term</h3>
                <h3 class="t-op">Fees</h3>
                <h3 class="t-op">APR</h3>
                <h3 class="t-op">status</h3>
            </div>

            <div class="items">
                <div class="item1" *ngFor="let item of mortgageData">
                    <h3 class="t-op-nextlvl">{{item.lender}}</h3>
                    <h3 class="t-op-nextlvl">{{item.loanType}}</h3>
                    <h3 class="t-op-nextlvl">{{item.interestRate}}</h3>
                    <h3 class="t-op-nextlvl">{{item.monthlyPayment}}</h3>
                    <h3 class="t-op-nextlvl">{{item.term}}</h3>
                    <h3 class="t-op-nextlvl">{{item.fees}}</h3>
                    <h3 class="t-op-nextlvl">{{item.apr}}</h3>
        
                    <button class="btn btn-outline t-op-nextlvl label-tag" (click)="openModal()">Show Unite</button>
                    <div class="modal" *ngIf="isModalOpen">
                        <div class="modal-content">
                            <span class="close" (click)="closeModal()">&times;</span>
                            <div class="modal-body">


                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="input1">Label 1</label>
                                        <input type="text" id="input1" value="Readonly 1" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input2">Label 2</label>
                                        <input type="text" id="input2" value="Readonly 2" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input3">Label 3</label>
                                        <input type="text" id="input3" value="Readonly 3" readonly>
                                    </div>
                                </div>

                                <div class="propContainer">
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1528150113746-eedf29a184c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=418cfe031d636ba13d884ecb0f791291&auto=format&fit=crop&w=3334&q=80"
                                            alt="">
                                    </div>
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1519522800923-7999b95cb3c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0253fdb32e31d50537b28f5ea7c48986&auto=format&fit=crop&w=934&q=80"
                                            alt="">
                                    </div>
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1508788397430-55907b348ba8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db0786d4e2ad0dc64e08df49423e6e18&auto=format&fit=crop&w=1834&q=80"
                                            alt="">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="report-container" *ngIf="selectedTable === 2" class="data-table">
        <div class="report-header">
            <h1 class="recent-Articles">Equity Release Data</h1>
            <button class="view">View All</button>
        </div>

        <div class="report-body">
            <div class="report-topic-heading">
            
                <h3 class="t-op">Provider</h3>
                <h3 class="t-op">Type of Plan</h3>
                <h3 class="t-op">Interest Rate</h3>
                <h3 class="t-op">Initial Amount Released</h3>
                <h3 class="t-op">Estimated Value After 10 Years</h3>
                <h3 class="t-op">Monthly Payment</h3>
                <h3 class="t-op">Notes</h3>
                <h3 class="t-op">Status</h3>
            </div>

            <div class="items">
                <div class="item1" *ngFor="let item of equityData">
                    <h3 class="t-op-nextlvl">{{item.provider}}</h3>
                    <h3 class="t-op-nextlvl">{{item.typeOfPlan}}</h3>
                    <h3 class="t-op-nextlvl">{{item.interestRate}}</h3>
                    <h3 class="t-op-nextlvl">{{item.initialAmountReleased}}</h3>
                    <h3 class="t-op-nextlvl">{{item.estimatedValueAfter10Years}}</h3>
                    <h3 class="t-op-nextlvl">{{item.monthlyPayment}}</h3>
                    <h3 class="t-op-nextlvl">{{item.notes}}</h3>
            
                    <button class="btn btn-outline t-op-nextlvl label-tag" (click)="openModal()">Show Unite</button>
                    <div class="modal" *ngIf="isModalOpen">
                        <div class="modal-content">
                            <span class="close" (click)="closeModal()">&times;</span>
                            <div class="modal-body">

                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="input1">Label 1</label>
                                        <input type="text" id="input1" value="Readonly 1" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input2">Label 2</label>
                                        <input type="text" id="input2" value="Readonly 2" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input3">Label 3</label>
                                        <input type="text" id="input3" value="Readonly 3" readonly>
                                    </div>
                                </div>

                                <div class="propContainer">
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1528150113746-eedf29a184c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=418cfe031d636ba13d884ecb0f791291&auto=format&fit=crop&w=3334&q=80"
                                            alt="">
                                    </div>
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1519522800923-7999b95cb3c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0253fdb32e31d50537b28f5ea7c48986&auto=format&fit=crop&w=934&q=80"
                                            alt="">
                                    </div>
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1508788397430-55907b348ba8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db0786d4e2ad0dc64e08df49423e6e18&auto=format&fit=crop&w=1834&q=80"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="report-container" *ngIf="selectedTable === 3" class="data-table">
        <div class="report-header">
            <h1 class="recent-Articles">Direct Purchase Data</h1>
            <button class="view">View All</button>
        </div>

        <div class="report-body">
            <div class="report-topic-heading">
                <h3 class="t-op">Property Type</h3>
                <h3 class="t-op">Location</h3>
                <h3 class="t-op">Purchase Price</h3>
                <h3 class="t-op">Down Payment</h3>
                <h3 class="t-op">Mortgage Amount</h3>
                <h3 class="t-op">Interest Rate</h3>
                <h3 class="t-op">Term Length</h3>
                <h3 class="t-op">Monthly Payment</h3>
                <h3 class="t-op">Notes</h3>
                <h3 class="t-op">Status</h3>
            </div>

            <div class="items">
                <div class="item1"  *ngFor="let item of purchaseData">
                    <h3 class="t-op-nextlvl">{{item.propertyType}}</h3>
                    <h3 class="t-op-nextlvl">{{item.location}}</h3>
                    <h3 class="t-op-nextlvl">{{item.purchasePrice}}</h3>
                    <h3 class="t-op-nextlvl">{{item.downPayment}}</h3>
                    <h3 class="t-op-nextlvl">{{item.mortgageAmount}}</h3>
                    <h3 class="t-op-nextlvl">{{item.interestRate}}</h3>
                    <h3 class="t-op-nextlvl">{{item.termLength}}</h3>
                    <h3 class="t-op-nextlvl">{{item.monthlyPayment}}</h3>
                    <h3 class="t-op-nextlvl">{{item.notes}}</h3>
                  
                    <button class="btn btn-outline t-op-nextlvl label-tag" (click)="openModal()">Show Unite</button>
                    <div class="modal" *ngIf="isModalOpen">
                        <div class="modal-content">
                            <span class="close" (click)="closeModal()">&times;</span>
                            <div class="modal-body">

                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="input1">Label 1</label>
                                        <input type="text" id="input1" value="Readonly 1" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input2">Label 2</label>
                                        <input type="text" id="input2" value="Readonly 2" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="input3">Label 3</label>
                                        <input type="text" id="input3" value="Readonly 3" readonly>
                                    </div>
                                </div>

                                <div class="propContainer">
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1528150113746-eedf29a184c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=418cfe031d636ba13d884ecb0f791291&auto=format&fit=crop&w=3334&q=80"
                                            alt="">
                                    </div>
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1519522800923-7999b95cb3c6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0253fdb32e31d50537b28f5ea7c48986&auto=format&fit=crop&w=934&q=80"
                                            alt="">
                                    </div>
                                    <div>
                                        <span>Description</span>
                                        <img src="https://images.unsplash.com/photo-1508788397430-55907b348ba8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db0786d4e2ad0dc64e08df49423e6e18&auto=format&fit=crop&w=1834&q=80"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             

            </div>
        </div>
    </div>

    <div class="report-container" *ngIf="selectedTable === 4" class="data-table">
        <div class="report-header">
            <h1 class="recent-Articles">MOH Program Data</h1>
            <button class="view">View All</button>
        </div>

        <div class="report-body">
            <div class="report-topic-heading">
                <h3 class="t-op">Buyout</h3>
                <h3 class="t-op">Self constaction</h3>
                <h3 class="t-op">Off Plan Product</h3>
                <h3 class="t-op">MOH Land</h3>
                <h3 class="t-op">Market Ready Units</h3>
                <h3 class="t-op">MOH Ready Units</h3>
            </div>

            <div class="items">
                <div class="item1" *ngFor="let program of mohPrograms; let i = index"> 
                    <h3 class="t-op-nextlvl">{{program.bayout}}</h3>
                    <h3 class="t-op-nextlvl">
                        <div class="container">
                            <div class="radio-group">
                                <input type="radio" id="Number1_{{i}}" name="selfConstruction{{i}}" value="Number 1" (change)="onSelfConstructionChange($event)" [checked]="!program.selfConstruction">
                                <label for="Number1_{{i}}">No</label>
                    
                                <input type="radio" id="Number2_{{i}}" name="selfConstruction{{i}}" value="Number 2" (change)="onSelfConstructionChange($event)" [checked]="program.selfConstruction">
                                <label for="Number2_{{i}}">Yes</label>
                              </div>
                        </div>
                    </h3>
                    <button class="btn btn-outline t-op-nextlvl label-tag" (click)="openRealEastateMarket()">Shom
                        Units</button>

                    <h3 class="t-op-nextlvl">{{program.mohLand}}</h3>
                    <button class="btn btn-outline t-op-nextlvl label-tag" (click)="openRealEastateMarket()">Shom
                        Units</button>
                    <button class="btn btn-outline t-op-nextlvl label-tag" (click)="openModal()">Shom Units</button>
                    <div class="modal" *ngIf="isModalOpen">
                        <div class="modal-content">
                            <span class="close" (click)="closeModal()">&times;</span>
                            <div class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>

   



            </div>
        </div>
    </div>
</div>
<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>