.autoLessHeader{
    margin-top: 50px;
    text-align: center;
}
.readyOffer {
    /* margin-top: 150px; */
    justify-content: center;
    justify-items: center;
    display: flex;

}
.readyOfferTitle{
    margin-top: 50px;
    margin-left: 250px;
    /* width: 100%; */
}
.mortgageTitle{
    margin-left: 43px;
}
.button--anchor {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.button--anchor:hover {
    text-decoration: underline;
}

.button--primary {
    box-sizing: border-box;
    border: 1px solid #c49530;
    border-radius: 3px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(top, #fee045 5%, #fecb2a 100%);
    background: linear-gradient(to bottom, #fee045 5%, #fecb2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee045', endColorstr='#fecb2a', GradientType=0);
    width: 163px;
    height: 37px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

.button--blue {
    color: #1471da;
}

.ul--nobullets {
    list-style: none;
}

.ul--smallbullets {
    list-style: none;
}

.ul--smallbullets li {
    background: url("//cdn.comcast.com/~/Media/ngbf_comcast_com/Products/Deals/Images/bullet_grey_dark.gif") no-repeat scroll 0 5px;
    padding: 0 0 0 12px;
    margin: 0 30px 8px 0;
    line-height: 18px;
    font-size: 12px;
}

.accessibly-hidden {
    display: none;
}

.sp-container {
    width: 927px;
    margin: 25px auto;
    font-size: 14px;
    box-sizing: border-box;
}

.sp-container .sp-offercontainer {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

.sp-container .sp-offercontainer--expanded {
    border-radius: 5px 5px 0 0;
}

.sp-container a {
    color: #1471da;
}

.sp-container .sp-package {
    width: 111px;
    background-color: #f6f6f6;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
    border-right: 1px solid #d4d4d4;
}

.sp-container .sp-package--title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.sp-container .sp-tick {
    display: block;
    background-image: url("//cdn.comcast.com/~/Media/ngbf_comcast_com/Common/Images/june_hp_product_sprite.png");
    background-repeat: no-repeat;
}

.sp-container .sp-package--details {
    font-size: 11px;
}

.sp-container .sp-x1 {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
    border-left: 1px solid #d4d4d4;
}

.sp-container .sp-x1 .sp-tick--x1 {
    width: 40px;
    height: 20px;
    background-position: -656px -430px;
}

.sp-container .sp-x1 .sp-tick--bestprice {
    background-position: -564px -409px;
    width: 42px;
    height: 32px;
}

.sp-container .sp-channels {
    width: 229px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
    border-right: 1px solid #d4d4d4;
}

.sp-container .sp-attributes {
    width: 78px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
}

.sp-container .sp-attribute--value {
    font-weight: bold;
    font-size: 30px;
    width: 78px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
}

.sp-container .sp-channels--lineup {
    display: block;
    clear: left;
    font-size: 11px;
    text-decoration: none;
}

.sp-container .sp-channels--media {
    width: 125px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
}

.sp-container .sp-inetVoice {
    width: 123px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
    border-left: 1px solid #d4d4d4;
}

.sp-container .sp-attribute--label {
    font-weight: bold;
    font-size: 11px;
}

.sp-container .sp-attribute--highlight {
    font-weight: bold;
    font-size: 13px;
    margin: 5px 2px 13px 0;
}

.sp-container .sp-highlight {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
    width: auto;
    margin: 0;
}

.sp-container .sp-highlight li {
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 11px;
    font-weight: bold;
}

.sp-container .sp-highlight li:last-child {
    border-bottom: none;
}

.sp-container .sp-pricecontainer {
    width: 114px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 0 0 10px;
}

.sp-container .sp-legalagreement {
    width: 163px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px;
}

.sp-container .sp-legalagreement .button--primary {
    margin: 0 0 15px 0;
}

.sp-container .sp-eyebrow {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.sp-container .sp-eyebrow--red {
    color: #c8001d;
}

.sp-container .sp-price {
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

.sp-container .sp-price--cents {
    font-weight: bold;
    font-size: 13px;
    top: -8px;
    margin: 0 0 0 2px;
}

.sp-container .sp-agreement {
    font-size: 10px;
}

.sp-container .sp-anchor--poi {
    float: right;
    font-size: 11px;
}

.sp-container .sp-detailscontent {
    font-size: 12px;
    box-sizing: border-box;
    padding: 20px 25px;
    background-color: #fff;
}

.sp-container .sp-detailscontent .ul--smallbullets {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sp-container .sp-detailscontent .ul--smallbullets li {
    float: left;
    width: 45%;
}

.sp-container .sp-detailscontent--expanded {
    border: 1px solid #d4d4d4;
    border-top: none;
}






#mortgage_calculator_form {
    width: 100%;
    margin-top: 100px;
    padding: 40px;
    display: inline-block;
    /* background: #fff;
    border: 2px solid #dedede; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); */
  }
  
  #mortgage_calculator_form h2 , .readyOfferTitle {
    color: #093A7C;
    font-weight: bold;
    margin-bottom: 75px;
  }
  
  #mortgage_calculator_form .calc_container  {
    width: 80%;
    margin-left: 10%;
  }
  
  #mortgage_calculator_form .calc_results {
    display: flex;
    justify-content: center; /* Centers the circles horizontally */
    flex-wrap: wrap; /* Allows wrapping to new lines if needed */
    margin-bottom: 20px;
  }
  
  #mortgage_calculator_form .calc_inputs {
    display: flex;
    justify-content: space-around; /* Space out the sliders evenly */
    margin-bottom: 20px;
  }
  
  #mortgage_calculator_form .one-fourth {
    width: 25%; /* Adjust width to fit 4 items in a row */
    display: flex;
    justify-content: center;
  }
  
  .result_container {
    background: #fff;
    padding: 10px 0px;
    width: 220px;
    height: 220px;
    border-radius: 100%;
    border: 3px solid #e8e8e8;
    text-align: center; /* Center text inside the circle */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
  }
  
  .result_container:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 8px 24px rgba(0, 0, 0, 0.2);
  }
  
  .result_text {
    font-size: 1.5em;
    font-weight: bold;
    color: #093A7C;
  }
  
  .calc_inputs .ngx-slider {
    width: 100%; /* Ensure sliders use available space */
    margin-bottom: 10px;
  }
  
  #loan_slider .ngx-slider .ngx-slider-bar {
    background-color: #ddd;
    height: 10px;
    border-radius: 2em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  #loan_slider .ngx-slider .ngx-slider-bar .ngx-slider-track {
    background-color: #093A7C;
    height: 100%;
    border-radius: 2em;
    transition: width 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #loan_slider .ngx-slider .ngx-slider-pointer {
    background-color: #ef9c2d;
    width: 28px;
    height: 28px;
    border-radius: 2em;
    border: 3px solid #fff;
    transition: left 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  #loan_slider .ngx-slider .ngx-slider-pointer:hover {
    background-color: #ef9c2d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  
  #loan_amt_input,
  #rate_input,
  #term_input {
    /* border-radius: 2em; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
  }
  
  #loan_amt_input:focus,
  #rate_input:focus,
  #term_input:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    #mortgage_calculator_form .one-fourth {
      width: 100%; /* Full width on smaller screens */
      margin-bottom: 20px;
    }
  }
  

#loan_amt_input,
#rate_input,
#term_input {
    border-radius: 10px;
    border: none;
}

.btn {
    margin: 10px;
    margin-left: 250px;

}

