<app-aside></app-aside>

<h2 class="containerOneTitle">Market Ready Units</h2>

<div class="container">
  <div *ngFor="let property of properties" class="box" (click)="viewProperty(property)">
    <div class="top">
      <img [src]="property.imageUrl || 'assets/images/placeholder.png'" [alt]="property.title" />
      <span><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i></span>
    </div>
    <div class="bottom">
      <h3>{{property.title}}</h3>
      <p>{{property.description}}</p>
      <div class="advants">
        <div>
          <span>Bedrooms</span>
          <div><i class="fas fa-th-large"></i><span>{{property.bedrooms}}</span></div>
        </div>
        <div>
          <span>Bathrooms</span>
          <div><i class="fas fa-shower"></i><span>{{property.bathrooms}}</span></div>
        </div>
        <div>
          <span>Area</span>
          <div>
            <i class="fas fa-vector-square"></i><span>{{property.area}}<span>{{property.areaUnit}}</span></span>
          </div>
        </div>
      </div>
      <div class="price">
        <span>For Sale</span>
        <span>{{property.price}}</span>
      </div>
    </div>
  </div>
</div>
<div class="container2">
  <h2 class="containerTwoTitle">Off Plan Product</h2>

  <h2 class="containerOneTitle">Real Estate Deliverables: A Collection of Interactive Web Maps</h2>

  <p class="abstract">
    This is a collection of web maps I created for Esri's real estate simple mapping platform campaign, with the goal of communicating to non-GIS professionals in a straightforward way.
    <br>Follow the link on each image to view the interactive maps.
  </p>
  <div class="title">
    <p>How to Create a Presentation that will Seal the Deal:</p>
    <a href=""><img src="../../../assets/images/off plan market /depositphotos_38775991-stock-photo-businessman-showing-a-document.png" width="600"></a>
    <p>How to Market Your Property Portfolio:</p>
    <a href=""><img src="../../../assets/images/off plan market /neom.jpeg" width="600"></a>
    <p>How to Weigh the Pros and Cons of Potential Sites:</p>
    <a href=""><img src="../../../assets/images/off plan market /Potential Sites.webp" width="600"></a>
  </div>
</div>

<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>

