<app-aside></app-aside>
<h2  class="containerOneTitle" > Market Ready Units</h2>

<div class="container">
        <div class="box">
          <div class="top">
            <img src="../.../../../../assets/images/off plan market /jeddah.jpeg" alt="" />
            <span><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i></span>
          </div>
          <div class="bottom">
            <h3>Villa In Jeddah</h3>
            <p>
              Enchanting three bedrooms, three bath home with spacious one
              bedroom, one bath...
            </p>
            <div class="advants">
              <div>
                <span>Bedrooms</span>
                <div><i class="fas fa-th-large"></i><span>3</span></div>
              </div>
              <div>
                <span>Bathrooms</span>
                <div><i class="fas fa-shower"></i><span>3</span></div>
              </div>
              <div>
                <span>Area</span>
                <div>
                  <i class="fas fa-vector-square"></i><span>4300<span>Sq Ft</span></span>
                </div>
              </div>
            </div>
            <div class="price">
              <span>For Sale</span>
              <span>$540,000</span>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="top">
            <img src="../../../assets/images/off plan market /riyadhVilla.webp" alt="" />
            <span><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i></span>
          </div>
          <div class="bottom">
            <h3>Villa In ]Riyadh</h3>
            <p>
              Enjoy serenity of Deering Bay whole day from this spectacular North
              and...
            </p>
            <div class="advants">
              <div>
                <span>Bedrooms</span>
                <div><i class="fas fa-th-large"></i><span>3</span></div>
              </div>
              <div>
                <span>Bathrooms</span>
                <div><i class="fas fa-shower"></i><span>3.5</span></div>
              </div>
              <div>
                <span>Area</span>
                <div>
                  <i class="fas fa-vector-square"></i><span>3500<span>Sq Ft</span></span>
                </div>
              </div>
            </div>
            <div class="price">
              <span>For Sale</span>
              <span>$825,000</span>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="top">
            <img src="../../.../../../assets/images/off plan market /dammamVilla.jpeg" alt="" />
            <span><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i></span>
          </div>
          <div class="bottom">
            <h3>Villa In Dammam</h3>
            <p>
              The very best waterfront location in Tahrir square and beside many
              cool places
            </p>
            <div class="advants">
              <div>
                <span>Bedrooms</span>
                <div><i class="fas fa-th-large"></i><span>3</span></div>
              </div>
              <div>
                <span>Bathrooms</span>
                <div><i class="fas fa-shower"></i><span>2</span></div>
              </div>
              <div>
                <span>Area</span>
                <div>
                  <i class="fas fa-vector-square"></i><span>1800<span>Sq Ft</span></span>
                </div>
              </div>
            </div>
            <div class="price">
              <span>For Sale</span>
              <span>$410,000</span>
            </div>
          </div>
        </div>
      </div>

  <div class="container2">
  <h2  class="containerTwoTitle" > Off Plan Product</h2>


  <h2 class="containerOneTitle"> Real Estate Deliverables: A Collection of Interactive Web Maps</h2>

<p class = "abstract">
This is a collection of web maps I created for Esri's real estate simple mapping platform campaign, with the goal of communicating to non-GIS professionals in a straightforward way. 
<br>Follow the link on each image to view the interactive maps.
</p>

<div class = "title">
<p>How to Create a Presentation that will Seal the Deal:</p>
<a href=""><img src="../../../assets/images/off plan market /depositphotos_38775991-stock-photo-businessman-showing-a-document.png" width="600"></a>
<!-- <p>How to Give Your Boss Insight on Their Tablet:</p>
<a href=""><img src="" width="600"></a> -->
<p>How to Market Your Property Portfolio:</p>
<a href=""><img src="../../../assets/images/off plan market /neom.jpeg" width="600"></a>
<p>How to Weigh the Pros and Cons of Potential Sites:</p>
<a href=""><img src="../../../assets/images/off plan market /Potential Sites.webp" width="600"></a>
<!-- <p>How to Get Your Field Reps to Collect Information in Real Time:</p>
<a href=""><img src="" width="600"></a> -->
</div>

  </div>
  <button class="btn btn-outline-secondary" (click)="previous()">Previous</button>
