<!-- <source src="../../../assets/videos/mylivewallpapers.com-I-Enjoy-Being-Alone.mp4" type="video/mp4"> -->


<div class="box">
  <video id="bg-video" src="../../../assets/videos/mylivewallpapers.com-I-Enjoy-Being-Alone.mp4" muted loop autoplay></video>
  <div class="container">
    <div class="top">
      <span>Have an account?</span>
      <header>Login</header>
    </div>
    <div class="input-field">
      <input type="text" class="input" placeholder="Username" id="">
      <i class="bx bx-user"></i>
    </div>
    <div class="input-field">
      <input type="password" class="input" placeholder="Password" id="">
      <i class="bx bx-user"></i>
    </div>
    <div class="input-field">
      <input type="submit" class="submit" value="Login" id="">
    </div>
    <div class="two-col">
      <div class="one">
        <input type="checkbox" name="" id="check">
        <label for="check">RememberMe</label>
      </div>
      <div class="two">
        <label><a href="#">Forget password</a></label>
      </div>
    </div>
  </div>
</div>

