<app-aside></app-aside>
<h2 class="emailHeadr">EMAILS</h2>
<div class="wrapper">
  <div class="container">
    <div class="filter">
      <div class="row">
        <div class="col-sm-2">
          <div class="show-row">
            <select class="form-control" (change)="changeShowCount($event)">
              <option *ngFor="let option of showOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <div class="search-row">
            <input type="text" (input)="filterEmails($event)" class="form-control" placeholder="Enter your keyword">
          </div>
        </div>
      </div>
    </div>
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>No</th>
          <th>Subject</th>
          <th>Sender</th>
          <th>Body</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let email of paginatedEmails; let i = index" [attr.data-id]="email.id" class="list">
          <td>{{ i + 1 }}</td>
          <td>{{ email.subject }}</td>
          <td>{{ email.sender }}</td>
          <td>{{ email.body }}</td>
          <td>
            <a (click)="openEmail(email.id)" class="btn btn-outline-success">
              <i class="fa fa-envelope-open-o fa-1x"></i>
            </a>
            <a (click)="deleteEmail(email.id)" class="btn btn-outline-danger">
              <i class="fa fa-trash-o fa-1x"></i>
            </a>
            <a (click)="replayEmail(email.id)" class="btn btn-outline-secondary">
              <i class="fa fa-reply fa-x1"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center controller">
      <ul class="pagination">
        <li *ngFor="let page of pages" [class.active]="page === currentPage" (click)="goToPage(page)">
          {{ page }}
        </li>
      </ul>
      <button class="btn btn-outline-secondary" (click)="prevPage()" [disabled]="currentPage === 1">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </button>
      <button class="btn btn-outline-success" (click)="nextPage()" [disabled]="currentPage === totalPages">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<!-- Email Modal -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ selectedEmail?.subject }}</h2>
    <p><strong>Sender:</strong> {{ selectedEmail?.sender }}</p>
    <p *ngIf="viewMode"><strong>Body:</strong> {{ selectedEmail?.body }}</p>
    <form (ngSubmit)="sendReply()" *ngIf="replyMode">
      <textarea [(ngModel)]="replyBody" name="replyBody" required></textarea>
      <button type="submit" class="btn btn-outline-success">Send Reply</button>
    </form>
    <button *ngIf="viewMode" (click)="switchToReplyMode()" class="btn btn-outline-secondary reply">Reply</button>
  </div>
</div>

<button class="btn btn-outline-secondary previous" (click)="previous()">Previous</button>
