<div class="wrapper">
	<div class="container">
		<div class="filter">
			<div class="row">
				<div class="col-sm-4">
					<div class="show-row">
						<select class="form-control" (change)="changeShowCount($event)">
							<option *ngFor="let option of showOptions" [value]="option">{{ option }}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<div class="search-row">
						<input type="text" (input)="filterMusic($event)" class="form-control"
							placeholder="Enter your keyword">
					</div>
				</div>
			</div>
		</div>
		<table class="table table-responsive table-hover">
			<thead>
				<tr>
					<th>No</th>
					<th>Title</th>
					<th>Mail</th>
					<th>Option</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of paginatedMusicList; let i = index" [attr.data-url]="item.url" class="list">
					<td>{{ i + 1 }}</td>
					<td>
						<div class="thumb"><img [src]="getThumbnailUrl(item.url)" class="img-responsive"></div>
					</td>
					<td>{{ item.title }}</td>
					<td>
						<a (click)="playVideo(item.url)" class="btn btn-outline-success">Open</a>
						<a (click)="deleteMail(item.url)" class="btn btn-outline-danger">Delete</a>
						<a (click)="replayMail(item.url)" class="btn btn-outline-secondary">Replay</a>
					</td>
			
				</tr>
			</tbody>
		</table>
		<div class="text-center controller">
			<ul class="pagination">
				<li *ngFor="let page of pages" [class.active]="page === currentPage" (click)="goToPage(page)">{{ page }}
				</li>
			</ul>
			<button class="btn btn-outline-secondary" (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
			<button class="btn btn-outline-success" (click)="nextPage()"
				[disabled]="currentPage === totalPages">Next</button>
		</div>
	</div>
</div>
<div class="video_box" *ngIf="showVideo">
	<div class="video_inner">
		<div class="modal-close" (click)="closeVideo()">&times;</div>
		<div class="video_body">
			<iframe [src]="currentVideoUrl" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>

<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>