<app-aside></app-aside>

<h2 class="debitsHeader">DEBITS</h2>
<h2 class="userInfo ">Depends On User Data</h2>
<section class="page-contain" *ngIf="userData">
    <a  class="data-card">
      <h3>{{userData.firstName}}</h3>
      <h4>Financial Details</h4>
      <div class="row">
        <div class="col">
            <p >Cash back : {{userData.cashBack}} </p>
           <p >Balance transfer : {{userData.balanceTtransfer}}</p>
        </div>
      <div class="col">
        <p >0% APR : {{userData.apr}}</p>
        <p >Rewards : {{userData.rewards}}</p>
      </div>
     <div class="col">
        <p >Travel : {{userData.travel}}</p>
        <p >Business : {{userData.business}}</p>

     </div>
     <div class="col">
        <p >Student : {{userData.student}}</p>
        <p >No annual fee : {{userData.noAnnualFee}}</p>

     </div>
     <div class="col">
        <p >Airline : {{userData.airline}}</p>
        <p >No foreign transaction fees : {{userData.noForeignFransactionFees}}</p>

     </div>
    </div>
 
      <!-- <span class="link-text">
        View All Providers
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#753BBD"/>
  </svg>
      </span> -->
    </a>
  </section>
<h2 style="text-align: center; margin-top: 50px; margin-bottom: 50px;">Our Banks Partner </h2>
    <div class="container">
        <img src="../../../assets/images/cards/Al_Rajhi_Bank_Logo.svg.png" alt=""
            style="width: 250px; height: 100px; padding: 10px;">

        <div class="row">

            <div class="col-xs-12 col-sm-3">

                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img src="../../../assets/images/cards/mada.png">
                        </div>
                        <div class="contentBx">
                            <h4>MADA CARD</h4>
                            <div class="size">
                                <h3>Without crossing the doorstep</h3>

                                <span>alrajhi bank Mada Classic free</span>
                                <span>Standing Orders Service</span>
                                <span>Smart Chip And PIN</span>
                                <span>More Benefits with Salary Transfer</span>
                            </div>
                            <!-- <div class="color">
                          <h3>Color :</h3>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div> -->
                            <a  (click)="toServiceProvider()">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3">

                <div class="containerTwo">
                    <div class="card">
                        <div class="imgBx">
                            <img src="../../../assets/images/cards/shoping.png">
                        </div>
                        <div class="contentBx">
                            <h4>SHOPING CARD</h4>
                            <div class="size">
                                <h3>More benefits than you expect</h3>
                                <span>Safe Online Shopping.</span>
                                <span>Instant card issuance via the app</span>
                                <span>Instant Discounts.</span>
                            </div>
                            <!-- <div class="color">
                          <h3>Color :</h3>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div> -->
                            <a  (click)="toServiceProvider()">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
     

        </div>
    </div>

<div class="container">
    <img src="../../../assets/images/cards/RIYAD-bank-logo.png" alt=""
        style="width: 200px; height: 150px; padding: 10px;">

    <div class="row">

        <div class="col-xs-12 col-sm-3">

            <div class="containerFour">
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/images/cards/inf.png">
                    </div>
                    <div class="contentBx">
                        <h4>ALFURSAN CARD</h4>
                        <div class="size">
                            <h3>ALFURSAN Visa Infinite</h3>

                            <span>45,000 Miles Upon Card Activation</span>
                            <span>20,000 extra Miles upon spending SAR 25,000 for every 3 months</span>
                            <span>1 Mile for every SAR 1.5 spent on local transactions</span>
                            <span>1 Mile for every SAR 1 spent on international transactions</span>
                        </div>
                        <!-- <div class="color">
                          <h3>Color :</h3>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div> -->
                        <a  (click)="toServiceProvider()">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">

            <div class="containerFive">
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/images/cards/World Elite-01.svg">
                    </div>
                    <div class="contentBx">
                        <h4>World Elite CARD</h4>
                        <div class="size">
                            <h3>Mastercard World Elite Credit Card</h3>
                            <span>Up to 10% cashbacks on various categories</span>
                            <span>Welcoming gifts by Al Hilal Club</span>
                            <span>Enjoy discounts up to 15% in Al Hilal stores</span>
                            <span>One-year Blu Store (Black) membership</span>
                            <span>Priority access to Al-Hilal matches tickets </span>
                            <span>Up to 15% cashback from Floward </span>
                            <span>Prime subscription from Jahez </span>
                        </div>
                        <!-- <div class="color">
                          <h3>Color :</h3>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div> -->
                        <a  (click)="toServiceProvider()">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">

            <div class="containerSix">
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/images/cards/World Elite-master.png">
                    </div>
                    <div class="contentBx">
                        <h4>World Elite Islamic CARD</h4>
                        <div class="size">
                            <h3>World Elite Islamic Mastercard</h3>
                            <span>SNo annual fees for life (Private Banking)</span>
                            <span>Unlimited Lounge access at airports worldwide</span>
                            <span>World Elite Concierge service 24/7</span>
                        </div>
                        <!-- <div class="color">
                          <h3>Color :</h3>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div> -->
                        <a  (click)="toServiceProvider()">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container">
    <img src="../../../assets/images/cards/sab-bank.png" alt=""
        style="width: 210px; height: 80px; padding: 10px;">

    <div class="row">

        <div class="col-xs-12 col-sm-3">

            <div class="containerEight">
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/images/cards/SAB Premier.png">
                    </div>
                    <div class="contentBx">
                        <h4>SAB PREMIER CARD</h4>
                        <div class="size">
                            <h3>SAB Premier Credit Card</h3>

                            <span>SAB AQSAT </span>
                            <span>Credit card special offers</span>
                            <span>Free of charge credit card protection</span>
                            <span>Travel medical concierge</span>
                        </div>
                        <!-- <div class="color">
                          <h3>Color :</h3>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div> -->
                        <a  (click)="toServiceProvider()">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">

            <div class="containerNien">
                <div class="card">
                    <div class="imgBx">
                        <img src="../../../assets/images/cards/sab-visa.png">
                    </div>
                    <div class="contentBx">
                        <h4>SAP PLATINUM CARD</h4>
                        <div class="size">
                            <h3>SAB VISA Platinum Credit Card</h3>
                            <span>Credit Protection</span>
                            <span>International Medical & Travel Assistance</span>
                            <span>Purchase Protection </span>
                           
                        </div>
                        <!-- <div class="color">
                          <h3>Color :</h3>
                          <span></span>
                          <span></span>
                          <span></span>
                        </div> -->
                        <a  (click)="toServiceProvider()">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>


<app-inside-footer></app-inside-footer>