<app-aside></app-aside>
<div class="counter-section">
    <h1 class="header">Investments Launch</h1>
    <div class="counter" id="init_clock">
        <div><span class="days">{{ days }}</span></div>
        <div><span class="hours">{{ hours }}</span></div>
        <div><span class="minutes">{{ minutes }}</span></div>
        <div><span class="seconds">{{ seconds }}</span></div>
      </div>
           <h2 class="article">We prepare investment plans suitable for your person.</h2>
           <h2 class="article">Thank You </h2>
 </div>
<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>
