body, html {
    text-align: center;
}

.counter-section{
    background-image: url("https://infinitylabs.bg/BMT/coming%20soon%20page%20with%20counter/img/bg.jpg");
    margin-top: 170px;
    margin-bottom: 305px;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.counter-section:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1010108c;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .6;
}

.header{
  font-size: 5rem;
  font-family: Arial, sans-serif;
  font-weight: 200;
  color: #10182F;
  transform: scale(1);
}

.article{
  font-size: 3rem;
  font-family: Arial, sans-serif;
  font-weight: 200;
  color: #10182F;
  transform: scale(1);
}
/* Counter styles */
.counter{
  font-family: Arial, sans-serif;

    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 4rem;
    transform: scale(1);
}

.counter > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}
.counter div > span{
    padding: 15px;
    border-radius: 25px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
    border: 2px solid #10182F;
}

.btn{
    margin: 10px;
    position: relative;
    margin-left:250px;

  } 