<app-aside></app-aside>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <span type="button" >
                        <!-- <i class="fas fa-chart-line"></i> -->
                        <h2> Finance products</h2>
                        <p>with NESBA</p>
                        <h6>this option is made just for you by NESBA if you're looking for a Personal finance , Mortgage finance or even Auto lease finance </h6>
                        <hr>
                        <div class="card-link">
                            <a title="Read Full" (click)="toFinanceProducts()"><span>Know More</span></a>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <span type="button" >
                        <!-- <i class="fas fa-dollar-sign"></i> -->
                        <h2>Cards</h2>
                        <p>with NESBA</p>
                        <h6>this option is made just for you by NESBA if you're looking for owning a new Credit Cards or even Debut Cards by simple steps in seconds</h6>
                        <hr>
                        <div class="card-link">
                            <a  title="Read Full" (click)="toCards()"><span>Know More</span></a>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <!-- <i class="fas fa-users"></i> -->
                    <h2>Investment</h2>
                    <p>with NESBA</p>
                    <h6>this option is made just for you by NESBA if you're looking for Mutual funds , Tadawul or to have a new Saving wallet </h6>
                    <hr>
                    <div class="card-link">
                        <a title="Read Full" (click)="toInvestment()"><span>Know More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-outline-secondary" (click)="previous()">Previous</button>

</main>