<div class="grid">
    <header class="header">
      <i class="fa fa-bars header__menu"></i>
      <div class="header__search">
        <input class="header__input" placeholder="Search..." />
      </div>
      <div class="header__avatar" (click)="toggleDropdown()" #headerAvatar>
        <div class="dropdown" *ngIf="isDropdownActive">
          <ul class="dropdown__list">
            <li class="dropdown__list-item">
              <span class="dropdown__icon"><i class="fa fa-user"></i></span>
              <span class="dropdown__title">my profile</span>
            </li>
            <li class="dropdown__list-item">
              <span class="dropdown__icon"><i class="fa fa-clipboard-list"></i></span>
              <span class="dropdown__title">my account</span>
            </li>
            <li class="dropdown__list-item">
              <span class="dropdown__icon"><i class="fa fa-sign-out-alt"></i></span>
              <span class="dropdown__title">log out</span>
            </li>
          </ul>
        </div>
      </div>
    </header>
  
    <aside class="sidenav">
      <div class="sidenav__brand" >
        <i class="fa fa-feather-alt sidenav__brand-icon"></i>
        <a class="sidenav__brand-link" >Ne<span class="text-light">sba</span></a>
        <i class="fa fa-times sidenav__brand-close"></i>
      </div>
    <a class="button" (click)="toProfile()">
      <div class="sidenav__profile">
        <div class="sidenav__profile-avatar"></div>
        <div class="sidenav__profile-title text-light">Abd EL-Aziz</div>
      </div>
    </a>

      <div class="row row--align-v-center row--align-h-center">
        <ul class="navList">
          <li class="navList__heading">documents<i class="fa fa-file-alt"></i></li>
            <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-briefcase-medical"></i></span>
              <span class="navList__subheading-title">Funding</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">new funding </li>
              <li class="subList__item">last funding</li>
              <li class="subList__item">current funding</li>
            </ul>
          </li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-plane-departure"></i></span>
              <span class="navList__subheading-title">Loan</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">domestic</li>
              <li class="subList__item">foreign</li>
              <li class="subList__item">misc</li>
            </ul>
          </li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-angry"></i></span>
              <span class="navList__subheading-title">Mortgage</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">current</li>
              <li class="subList__item">archives</li>
            </ul>
          </li>
  
          <li class="navList__heading">messages</li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-envelope"></i></span>
              <span class="navList__subheading-title">inbox</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">primary</li>
              <li class="subList__item">social</li>
              <li class="subList__item">promotional</li>
            </ul>
          </li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-eye"></i></span>
              <span class="navList__subheading-title">unread</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">primary</li>
              <li class="subList__item">social</li>
              <li class="subList__item">promotional</li>
            </ul>
          </li>
           <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-book-open"></i></span>
              <span class="navList__subheading-title">archives</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">primary</li>
              <li class="subList__item">social</li>
              <li class="subList__item">promotional</li>
            </ul>
          </li>
  
          <li class="navList__heading">photo album<i class="fa fa-image"></i></li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-mountain"></i></span>
              <span class="navList__subheading-title">vacation</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">cambodia</li>
              <li class="subList__item">new york</li>
            </ul>
          </li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-wine-glass-alt"></i></span>
              <span class="navList__subheading-title">anniversary</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">dive trip</li>
              <li class="subList__item">hikathon</li>
              <li class="subList__item">buffalo river</li>
            </ul>
          </li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-graduation-cap"></i></span>
              <span class="navList__subheading-title">university</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">wild horse saloon</li>
              <li class="subList__item">service corps</li>
              <li class="subList__item">graduation</li>
              <li class="subList__item">internships</li>
            </ul>
          </li>
  
          <li class="navList__heading">statistics<i class="fa fa-chart-bar"></i></li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-credit-card"></i></span>
              <span class="navList__subheading-title">finances</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">mortgage</li>
              <li class="subList__item">investments</li>
              <li class="subList__item">spend log</li>
              <li class="subList__item">owed</li>
            </ul>
          </li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-phone"></i></span>
              <span class="navList__subheading-title">call stats</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">last month</li>
              <li class="subList__item">bi-weekly</li>
              <li class="subList__item">yesterday</li>
              <li class="subList__item">today</li>
            </ul>
          </li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-plane"></i></span>
              <span class="navList__subheading-title">trip logs</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">amsterdam</li>
              <li class="subList__item">buenos aires</li>
              <li class="subList__item">cambodia</li>
              <li class="subList__item">greenland</li>
            </ul>
          </li>
          
          <li class="navList__heading">Events<i class="fa fa-calendar-alt"></i></li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-wine-glass-alt"></i></span>
              <span class="navList__subheading-title">New Feature</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">past</li>
              <li class="subList__item">present</li>
              <li class="subList__item">future</li>
            </ul>
          </li>
          <li>
            <div class="navList__subheading row row--align-v-center">
              <span class="navList__subheading-icon"><i class="fa fa-school"></i></span>
              <span class="navList__subheading-title">User discounts</span>
            </div>
            <ul class="subList subList--hidden">
              <li class="subList__item">weirdos</li>
              <li class="subList__item">smarties</li>
              <li class="subList__item">nerds</li>
            </ul>
          </li>
          <li>
                <div class="navList__subheading row row--align-v-center">
                  <span class="navList__subheading-icon"><i class="fa fa-users"></i></span>
                  <span class="navList__subheading-title">Governments Statment</span>
                </div>
                <ul class="subList subList--hidden">
                  <li class="subList__item">tech</li>
                  <li class="subList__item">automotive</li>
                  <li class="subList__item">UX research</li>
                  <li class="subList__item">development</li>
                </ul>
              </li>
        </ul>
      </div>
    </aside>
  
    <main class="main">
      <div class="main-header">
        <div class="main-header__intro-wrapper">
          <div class="main-header__welcome">
            <div class="main-header__welcome-title text-light">Welcome, <strong>Abd EL-Aziz</strong></div>
            <div class="main-header__welcome-subtitle text-light">How are you today?</div>
          </div>
          <div class="quickview">
            <div class="quickview__item">
              <div class="quickview__item-total">41</div>
              <div class="quickview__item-description">
                <i class="fa fa-calendar-alt"></i>
                <span class="text-light">Events</span>
              </div>
            </div>
            <div class="quickview__item">
              <div class="quickview__item-total">64</div>
              <div class="quickview__item-description">
                <i class="fa fa-comment"></i>
                <span class="text-light">Messages</span>
              </div>
            </div>
            <div class="quickview__item">
              <div class="quickview__item-total">27&deg;</div>
              <div class="quickview__item-description">
                <i class="fa fa-map-marker-alt"></i>
                <span class="text-light">Austin</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-overview">
        <div class="overviewCard">
          <div class="overviewCard-icon overviewCard-icon--document">
             <i class="fa fa-file-alt"></i>
          </div>
          <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->

          <div class="overviewCard-description" (click)="goToDocuments()">
            <h3 class="overviewCard-title text-light1">New <strong>Document</strong></h3>
            <p class="overviewCard-subtitle">Europe Trip</p>
          </div>
        </div>
        <div class="overviewCard">
          <div class="overviewCard-icon overviewCard-icon--calendar">
             <i class="fa fa-calendar-check"></i>
          </div>
          <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->
          <div class="overviewCard-description" (click)="goToEvents()">
            <h3 class="overviewCard-title text-light1">Upcoming <strong>Event</strong></h3>
            <p class="overviewCard-subtitle">Chili Cookoff</p>
          </div>
        </div>
        <div class="overviewCard">
          <div class="overviewCard-icon overviewCard-icon--mail">
             <!-- <i class="fa fa-envelope"></i> -->
          </div>
          <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->

          <div class="overviewCard-description" (click)="goToEmails()">
            <h3 class="overviewCard-title text-light1">Recent <strong>Emails</strong></h3>
            <p class="overviewCard-subtitle">+10</p>
          </div>
        </div>

        <div class="overviewCard">
            <div class="overviewCard-icon overviewCard-icon--photo">
               <i class="fa fa-file-image"></i>
            </div>
            <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->

            <div class="overviewCard-description" (click)="goingToNewFinancing()">
              <h3 class="overviewCard-title text-light1">New  <strong>financing</strong></h3>
              <p class="overviewCard-subtitle">Choose Plane</p>
            </div>
          </div>


          <div class="overviewCard">
            <div class="overviewCard-icon overviewCard-icon--photo">
               <i class="fa fa-file-image"></i>
            </div>
            <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->

            <div class="overviewCard-description" (click)="goingToFunding()">
              <h3 class="overviewCard-title text-light1">Funding <strong></strong></h3>
              <p class="overviewCard-subtitle">$1,000,000</p>
            </div>
          </div>
     
      </div> <!-- /.main__overview -->
      <div class="main__cards">
        <div class="card">
          <div class="card__header">
            <div class="card__header-title text-light">Your <strong>Events</strong>
              <a class="card__header-link text-bold" (click)="goToEvents()">View All</a>
            </div>
            <div class="settings">
              <div class="settings__block"><i class="fa fa-edit"></i></div>
              <div class="settings__block"><i class="fa fa-cog"></i></div>
            </div>
          </div>
          <div class="card__main">
            <div class="card__row">
              <div class="card__icon"><i class="fa fa-gift"></i></div>
              <div class="card__time">
                <div>today</div>
              </div>
              <div class="card__detail">
                <div class="card__source text-bold">Ahmed G</div>
                <div class="card__description">Going away party at 8:30pm. Bring a friend!</div>
                <div class="card__note">1404 Gibson St</div>
              </div>
            </div>
            <div class="card__row">
              <div class="card__icon"><i class="fa fa-plane"></i></div>
              <div class="card__time">
                <div>Tuesday</div>
              </div>
              <div class="card__detail">
                <div class="card__source text-bold">Abd EL-Aziz H</div>
                <div class="card__description">Flying to Bora Bora at 4:30pm</div>
                <div class="card__note">Delta, Gate 27B</div>
              </div>
            </div>
            <div class="card__row">
              <div class="card__icon"><i class="fa fa-book"></i></div>
              <div class="card__time">
                <div>Thursday</div>
              </div>
              <div class="card__detail">
                <div class="card__source text-bold">National Institute of Comarial </div>
                <div class="card__description">Join the institute for an in-depth look at Stephen Hawking</div>
                <div class="card__note">7:30pm, Carnegie Center for Science</div>
              </div>
            </div>
            <div class="card__row">
              <div class="card__icon"><i class="fa fa-heart"></i></div>
              <div class="card__time">
                <div>Friday</div>
              </div>
              <div class="card__detail">
                <div class="card__source text-bold">loan update of the National Bank </div>
                <div class="card__description">Join us and contribute to your favorite local charity.</div>
                <div class="card__note">6:45pm, Austin Convention Ctr</div>
              </div>
            </div>
            <div class="card__row">
              <div class="card__icon"><i class="fa fa-heart"></i></div>
              <div class="card__time">
                <div>Saturday</div>
              </div>
              <div class="card__detail">
                <div class="card__source text-bold">news about mortgage</div>
                <div class="card__description">See the Blue Angels fly with roaring thunder</div>
                <div class="card__note">11:00pm, Jacksonville Airforce Base</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <div class="card__header-title text-light">Recent <strong>Documents</strong>
              <a class="card__header-link text-bold" (click)="goToDocuments()">View All</a>
            </div>
            <div class="settings">
              <div class="settings__block"><i class="fa fa-edit"></i></div>
              <div class="settings__block"><i class="fa fa-cog"></i></div>
            </div>
          </div>
          <div class="card">
            <div class="documents">
              <div class="document">
                <div class="document__img"></div>
                <div class="document__title">tesla-patents</div>
                <div class="document__date">07/16/2018</div>
              </div>
              <div class="document">
                <div class="document__img"></div>
                <div class="document__title">yearly-budget</div>
                <div class="document__date">09/04/2018</div>
              </div>
              <div class="document">
                <div class="document__img"></div>
                <div class="document__title">top-movies</div>
                <div class="document__date">10/10/2018</div>
              </div>
              <div class="document">
                <div class="document__img"></div>
                <div class="document__title">trip-itinerary</div>
                <div class="document__date">11/01/2018</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card--finance">
          <div class="card__header">
            <div class="card__header-title text-light">Monthly <strong>Spending</strong>
              <a class="card__header-link text-bold" (click)="goToSpending()">View All</a>
            </div>
            <div class="settings">
              <div class="settings__block"><i class="fa fa-edit"></i></div>
              <div class="settings__block"><i class="fa fa-cog"></i></div>
            </div>
          </div>
          <div id="chartdiv"></div>
        </div>
      </div> <!-- /.main-cards -->
    </main>
  

  </div>