<div class="grid">
    <header class="header">
      <!-- <div class="header__search">
        <input class="header__input" placeholder="Search..." />
      </div> -->
      <i class="fa fa-bars header__menu"></i>

      <div  (click)="toggleDropdown()" #headerAvatar>
        <img class="header__avatar" [src]="userData?.userImg" alt="User Image" >

        <div class="dropdown" [ngClass]="{'dropdown--active': isDropdownActive}">
          <ul class="dropdown__list">
            <li class="dropdown__list-item" >
              <span class="dropdown__icon"><i class="fa fa-user"></i></span>
              <span class="dropdown__title" (click)="toProfile()">my profile</span>
            </li>
            <li class="dropdown__list-item">
              <span class="dropdown__icon"><i class="fa fa-clipboard"></i></span>
              <span class="dropdown__title" (click)="toProfile()">my account</span>
            </li>
            <li class="dropdown__list-item">
              <span class="dropdown__icon"><i class="fa fa-sign-out"></i></span>
              <span class="dropdown__title" (click)="logout()">log out</span>
            </li>
          </ul>
        </div>
      </div>
    </header>

    
  
<!-- user-dashboard.component.html -->
<aside class="sidenav">
  <div class="sidenav__brand">
    <!-- <i class="fa fa-feather-alt sidenav__brand-icon"></i> -->
    <a class="sidenav__brand-link">Ne<span class="text-light">sba</span></a>
    <i class="fa fa-times sidenav__brand-close"></i>
  </div>
  <a class="button" (click)="toProfile()">
    <div class="sidenav__profile" *ngIf="userData">
        <img class="sidenav__profile-avatar" [src]="userData.userImg" alt="User Image">
      <div class="sidenav__profile-title text-light">{{ userData.firstName }}</div>
    </div>
  </a>

  <div class="row row--align-v-center row--align-h-center">
    <ul class="navList">
      <li class="navList__heading">Funding<i class="fa fa-money"></i></li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('funding')">
          <span class="navList__subheading-icon"><i class="fa fa-eye"></i></span>
          <span class="navList__subheading-title">Funding Tracker</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.funding}">
          <li class="subList__item" (click)="toFundingTracker()">Funding Tracker</li>
          <!-- <li class="subList__item">previous funding </li>
          <li class="subList__item">current funding</li> -->
        </ul>
      </li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('loan')">
          <span class="navList__subheading-icon"><i class="fa fa-hand-lizard-o"></i></span>
          <span class="navList__subheading-title">Previous Funding</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.loan}">
          <li class="subList__item" (click)="toPreviousFunding()">Funded</li>
          <li class="subList__item"(click)="goingToNewFinancing()">New Financing</li>
          <!-- <li class="subList__item">misc</li> -->
        </ul>
      </li>
      <!-- <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('mortgage')">
          <span class="navList__subheading-icon"><i class="fa fa-money"></i></span>
          <span class="navList__subheading-title">Mortgage</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.mortgage}">
          <li class="subList__item">current</li>
          <li class="subList__item">archives</li>
        </ul>
      </li> -->

      <li class="navList__heading">New Financing<i class="fa fa-file"></i></li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('inbox')">
          <span class="navList__subheading-icon"><i class="fa fa-envelope"></i></span>
          <span class="navList__subheading-title">Investments</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.inbox}">
          <li class="subList__item"  (click)="toMutualFunds()">Mutual Funds</li>
          <li class="subList__item" (click)="toTadawul()">Tadawul</li>
          <li class="subList__item" (click)="toSavingWallet()">Saving Wallet</li>
        </ul>
      <!-- </li> -->
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('unread')">
          <span class="navList__subheading-icon"><i class="fa fa-eye"></i></span>
          <span class="navList__subheading-title">Cards</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.unread}">
          <li class="subList__item" (click)="toCards()">Choosing New Card</li>
          <li class="subList__item" (click)="toDebits()">Debits</li>
          <li class="subList__item" (click)="toCredits()">Credits</li>
        </ul>
      </li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('archives')">
          <span class="navList__subheading-icon"><i class="fa fa-book"></i></span>
          <span class="navList__subheading-title">Finance Products</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.archives}">
          <li class="subList__item" (click)="toMortgageFinance()">Mortgage finance</li>
          <li class="subList__item" (click)="toPersonalFinance()">Personal Finance</li>
          <li class="subList__item" (click)="toAutoLeaseFinance()">Auto Lease Finance</li>
        </ul>
      </li>
      <li class="navList__heading"> Emails<i class="fa fa-envelope-o"></i></li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('vacation')">
          <span class="navList__subheading-icon"><i class="fa  fa-envelope-o"></i></span>
          <span class="navList__subheading-title">Recent Mails</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.vacation}">
          <li class="subList__item" (click)="goToEmails()">Emails</li>
          <li class="subList__item"(click)="toDeletedMails()">Deleted Mails </li>
          <li class="subList__item" (click)="toReplayedMails()">Replayed Mails </li>
        </ul>
      </li>
      <!-- <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('anniversary')">
          <span class="navList__subheading-icon"><i class="fa fa-glass"></i></span>
          <span class="navList__subheading-title">anniversary</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.anniversary}">
          <li class="subList__item">dive trip</li>
          <li class="subList__item">hikathon</li>
          <li class="subList__item">buffalo river</li>
        </ul>
      </li> -->
      <!-- <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('university')">
          <span class="navList__subheading-icon"><i class="fa fa-graduation-cap"></i></span>
          <span class="navList__subheading-title">university</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.university}">
          <li class="subList__item">wild horse island</li>
          <li class="subList__item">australia trip</li>
        </ul>
      </li> -->
      <li class="navList__heading"> Events<i class="fa fa-newspaper-o"></i></li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('finances')">
          <span class="navList__subheading-icon"><i class="fa fa-podcast"></i></span>
          <span class="navList__subheading-title">Upcoming Events</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.finances}">
          <li class="subList__item" (click)="goUpcomingEvents()">This Year</li>
          <li class="subList__item" (click)="goUpcomingEvents()">This Quarter</li>
          <li class="subList__item" (click)="goUpcomingEvents()">More Sooner</li>
        </ul>
      </li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('callStats')">
          <span class="navList__subheading-icon"><i class="fa fa-table"></i></span>
          <span class="navList__subheading-title">last Events</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.callStats}">
          <li class="subList__item" (click)="toLastEvents()">Last Year </li>
          <li class="subList__item" (click)="toLastEvents()">Last Quarter</li>
          <!-- <li class="subList__item"></li> -->
        </ul>
      </li>
      <!-- <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('tripLogs')">
          <span class="navList__subheading-icon"><i class="fa fa-car"></i></span>
          <span class="navList__subheading-title">trip logs</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.tripLogs}">
          <li class="subList__item">today</li>
          <li class="subList__item">yesterday</li>
          <li class="subList__item">last week</li>
        </ul>
      </li> -->
      <li class="navList__heading">Documents<i class="fa fa-file"></i></li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('newFeature')">
          <span class="navList__subheading-icon"><i class="fa fa-file-text-o"></i></span>
          <span class="navList__subheading-title">New Decuments</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.newFeature}">
          <li class="subList__item" (click)="toDecuments()">Added Documents</li>
          <li class="subList__item" (click)="toReviwedDocuments()">Reviwed Documents</li>
          <li class="subList__item" (click)="toDocumentsStatus()">Documents Status</li>
        </ul>
      </li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('userDiscounts')">
          <span class="navList__subheading-icon"><i class="fa fa-book"></i></span>
          <span class="navList__subheading-title">Old Documents</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.userDiscounts}">
          <li class="subList__item"  (click)="toOldDocuments()">Last Year</li>
          <li class="subList__item"  (click)="toOldDocuments()">last Quarter</li>
          <!-- <li class="subList__item"></li> -->
        </ul>
      </li>
      <li class="navList__heading">Sittings<i class="fa fa-tasks"></i></li>
      <li>
        <div class="navList__subheading row row--align-v-center" (click)="toggleDropdowns('govStatement')">
          <span class="navList__subheading-icon"><i class="fa fa-cogs"></i></span>
          <span class="navList__subheading-title"> Sittings</span>
        </div>
        <ul class="subList" [ngClass]="{'subList--hidden': !dropdowns.govStatement}">
          <li class="subList__item" (click)="toProfile()">User Profile</li>
          <li class="subList__item"(click)="logout()">Logout</li>
        </ul>
      </li>
    </ul>
  </div>
</aside>

  
    <main class="main">
      <div class="main-header">
        <div class="main-header__intro-wrapper">
          <div class="main-header__welcome" *ngIf="userData">
            <div class="main-header__welcome-title text-light">Welcome, <strong>{{userData.fullName}}</strong></div>
            <div class="main-header__welcome-subtitle text-light">How are you today?</div>
          </div>
          <div class="quickview">
            <div class="quickview__item">
              <div class="quickview__item-total">3</div>
              <div class="quickview__item-description">
                <i class="fa fa-calendar-alt"></i>
                <span class="text-light">Events</span>
              </div>
            </div>
            <div class="quickview__item">
              <div class="quickview__item-total">14</div>
              <div class="quickview__item-description">
                <i class="fa fa-comment"></i>
                <span class="text-light">Emails</span>
              </div>
            </div>
            <div class="quickview__item">
              <div class="quickview__item-total">27&deg;</div>
              <div class="quickview__item-description">
                <i class="fa fa-map-marker-alt"></i>
                <span class="text-light">Suadi Arbia</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-overview">
        <div class="overviewCard" (click)="goToDocuments()">
          <div class="overviewCard-icon overviewCard-icon--document">
             <!-- <i class="fa fa-file-alt"></i> -->
          </div>
          <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->

          <div class="overviewCard-description" >
            <h3 class="overviewCard-title text-light1">New <strong>Document</strong></h3>
            <p class="overviewCard-subtitle">Europe Trip</p>
          </div>
        </div>
        <div class="overviewCard" (click)="goToEvents()">
          <div class="overviewCard-icon overviewCard-icon--calendar">
             <!-- <i class="fa fa-calendar-check"></i> -->
          </div>
          <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->
          <div class="overviewCard-description" >
            <h3 class="overviewCard-title text-light1">Upcoming <strong>Event</strong></h3>
            <p class="overviewCard-subtitle">Chili Cookoff</p>
          </div>
        </div>
        <div class="overviewCard" (click)="goToEmails()">
          <div class="overviewCard-icon overviewCard-icon--mail">
             <!-- <i class="fa fa-envelope"></i> -->
          </div>
          <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->

          <div class="overviewCard-description" >
            <h3 class="overviewCard-title text-light1">Recent <strong>Emails</strong></h3>
            <p class="overviewCard-subtitle">+10</p>
          </div>
        </div>

        <div class="overviewCard" (click)="goingToNewFinancing()">
            <div class="overviewCard-icon overviewCard-icon--photo">
               <!-- <i class="fa fa-file-image"></i> -->
            </div>
            <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->

            <div class="overviewCard-description" >
              <h3 class="overviewCard-title text-light1">New  <strong>financing</strong></h3>
              <p class="overviewCard-subtitle">Choose Plane</p>
            </div>
          </div>


          <div class="overviewCard"  (click)="goingToFunding()">
            <div class="overviewCard-icon overviewCard-icon--photo">
               <!-- <i class="fa fa-file-image"></i> -->
            </div>
            <!-- <img src="../../../assets/images/nesbalogo-removebg-preview.png" alt="" style="border-radius: 50%; height: 80px; width: 100px;"> -->

            <div class="overviewCard-description">
              <h3 class="overviewCard-title text-light1">Funding <strong></strong></h3>
              <p class="overviewCard-subtitle">$1,000,000</p>
            </div>
          </div>
     
      </div> <!-- /.main__overview -->
      <div class="main__cards" >
        <div class="card" >
          <div class="card__header">
            <div class="card__header-title text-light">Your <strong>Events</strong>
              <a class="card__header-link text-bold"(click)="goToEvents()" >View All</a>
            </div>
            <div class="settings">
              <div class="settings__block"><i class="fa fa-edit"></i></div>
              <div class="settings__block"><i class="fa fa-cog"></i></div>
            </div>
          </div>
          <div class="card__main" *ngFor="let event of events | slice:0:5">
            <div class="card__row">
              <div class="card__icon"><i class="fa fa-calendar"></i></div>
              <div class="card__time">
                <div>{{event.thumbnailDateDay}} {{event.thumbnailDateMonth}}</div>
              </div>
              <div class="card__detail">
                <div class="card__source text-bold">{{event.title}} </div>
                <div class="card__description">{{event.description}}</div>
                <div class="card__note">{{event.location}}</div>
              </div>
            </div>

          </div>
        </div>
        <div class="card" >
          <div class="card__header">
            <div class="card__header-title text-light">Recent <strong>Documents</strong>
              <a class="card__header-link text-bold" (click)="goToDocuments()">View All</a>
            </div>
            <div class="settings">
              <div class="settings__block"><i class="fa fa-edit"></i></div>
              <div class="settings__block"><i class="fa fa-cog"></i></div>
            </div>
          </div>
          <div class="card" >
            <div class="documents">
              <div class="document" *ngFor="let doc of documents | slice:0:4">
                <div class="document__img">
           			<ng-container *ngIf="doc.preview">
                  <img *ngIf="doc.preview.includes('image')" [src]="doc.preview" alt="Preview" class="document__img" />
                  <img *ngIf="doc.preview.includes('pdf')" [src]="doc.preview" alt="Preview" class="document__img" />
                  <img *ngIf="doc.preview.includes('excel')" [src]="doc.preview" alt="Preview" class="document__img" />
                </ng-container>
                </div>
                <div class="document__title">{{ removeExtension(doc.name) }}</div>
                <div class="document__date">{{doc.date | date:'yyyy-MM'}}</div>
              </div>
              <!-- <div class="document">
                <div class="document__img"></div>
                <div class="document__title">yearly-budget</div>
                <div class="document__date">09/04/2018</div>
              </div> -->
        <!-- <img src="../../../assets/images/backgound-finanace.jpeg" alt=""> -->
            </div>
          </div>
        </div>
        <div class="card card--finance">
          <div class="card__header">
            <div class="card__header-title text-light">Monthly <strong>Spending</strong>
              <a class="card__header-link text-bold" (click)="goToSpending()">View All</a>
            </div>
            <div class="settings">
              <div class="settings__block"><i class="fa fa-edit"></i></div>
              <div class="settings__block"><i class="fa fa-cog"></i></div>
            </div>
          </div>
          <div id="chartdiv"></div>
        </div>
      </div> 
    </main>
  

  </div>