<app-aside></app-aside>
<h2 class="eventsHeader">EVENTS</h2>
<div class="container">
  <div class="row row-cols-md-3 g-4">
    <div class="col" *ngFor="let event of events">
      <div class="card h-100" style="position: relative">
        <div class="bottom-right">{{ event.date }}</div>
        <div class="top-right">
          <div class="tags-list mb-2">
            <span class="tags-list-town text-uppercase">{{ event.location }}</span>
            <span class="news">
                NEWS
            </span>
          </div>
        </div>
        <div class="image-container">
          <div class="bottom-left">
            <div class="thumbnail" [style.backgroundColor]="event.thumbnailBackgroundColor">
              <div class="thumbnail-date">
                <span class="thumbnail-date-day">{{ event.thumbnailDateDay }}</span>
                <span class="thumbnail-date-month">{{ event.thumbnailDateMonth }}</span>
              </div>
            </div>
          </div>
       
          <a >
            
            <img [src]="event.imageUrl" class="card-img-top" alt="Image" />
            <div class="image-overlay text-over text-uppercase">
              
              <div class="mainDec">
                <span class="row decTitle">
                  {{event.title}}
                </span>
                {{ event.description }}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>
<app-inside-footer></app-inside-footer>