<app-aside></app-aside>
<h2 class="fundingHeader">FUNDING</h2>
<div class="container">
    
    <div class="row">
        
        <div class="col-md-6">
            <div class="card">
                <span type="button" (click)="previousFunding()">
                    <!-- <i class="fas fa-chart-line"></i> -->
                    <h2> Previous funding</h2>
                    <!-- <p>$1,000,000</p> -->
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <span type="button" (click)="fundingTracker()">
                    <!-- <i class="fas fa-dollar-sign"></i> -->
                    <h2>Funding tracker</h2>
                    <!-- <p>Choose Plane</p> -->
                </span>
            </div>
        </div>
    </div>
    
</div>
<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>
