<app-aside></app-aside>
<h2 class="personalFinanceHeader">PERSONAL FINANCE</h2>
<div class="card-container">
    <div class="card" (click)="showTable(1)">
      <h3>Refinance</h3>
      <p>Click to see </p>
    </div>
    <div class="card" (click)="showTable(2)">
      <h3>New Finance</h3>
      <p>Click to see </p>
    </div>
    <div class="card" (click)="showTable(3)">
      <h3>Buyout</h3>
      <p>Click to see </p>
    </div>

  </div>
  
  <div class="table-container">

      <div class="report-container" *ngIf="selectedTable === 1" class="data-table">
        <div class="report-header">
            <h1 class="recent-Articles">Refinance</h1>
        </div>

        <table>

          <div class="product-table flextable">
            <div class="tbody">
                <div class="thead trow">
                    <div class="tcell">Field</div>
                    <div class="tcell">Current Loan</div>
                    <div class="tcell">Proposed Loan</div>
                    <div class="tcell">Difference</div>
                </div>
                <div *ngFor="let item of refinanceData; let i = index">

                    <div class="trow">
                        <div class="tcell">{{item.field}}</div>
                        <div class="tcell">{{item.current}}</div>
                        <div class="tcell">{{item.proposed}}</div>
                        <div class="tcell">{{item.difference}}</div>
                    </div>
                </div>
            </div>
        </div>
          </table>
    </div>

    <div class="report-container" *ngIf="selectedTable === 2" class="data-table">
        <div class="report-header">
            <h1 class="recent-Articles">New Finance</h1>
        </div>

        <table>
          <div class="product-table flextable">
            <div class="tbody">
                <div class="thead trow">
                    <div class="tcell">Category</div>
                    <div class="tcell">Amount </div>
                    <div class="tcell">Date</div>
                    <div class="tcell">Description</div>
                </div>
                <div *ngFor="let newFinance of newFinanceData; let i = index">

                    <div class="trow">
                        <div class="tcell">{{ newFinance.category }}</div>
                        <div class="tcell">{{ newFinance.amount | currency }}</div>
                        <div class="tcell">{{ newFinance.date }}</div>
                        <div class="tcell">{{ newFinance.description }}</div>
                    </div>
                </div>
            </div>
        </div>
          </table>
    </div>

    <div class="report-container" *ngIf="selectedTable === 3" class="data-table">
        <div class="report-header">
            <h1 class="recent-Articles">Buyout</h1>
        </div>
         <table>
          <div class="product-table flextable">
            <div class="tbody">
                <div class="thead trow">
                    <div class="tcell">Transaction Date</div>
                    <div class="tcell">Transaction Amount </div>
                    <div class="tcell">Buyout Percentage</div>
                    <div class="tcell">Total Buyout</div>
                </div>
                <div *ngFor="let buyout of buyouts let i = index">

                    <div class="trow">
                        <div class="tcell">{{ buyout.transactionDate }}</div>
                        <div class="tcell">{{ buyout.transactionAmount | currency }}</div>
                        <div class="tcell">{{ buyout.buyoutPercentage }}%</div>
                        <div class="tcell">{{ buyout.totalBuyout | currency }}</div>
                    </div>
                </div>
            </div>
        </div>
        </table>
    </div>
  </div>
<button class="btn btn-outline-secondary" (click)="previous()">Previous</button>
<app-inside-footer></app-inside-footer>
  