<section>
    <article>
        <nav class="navy">
            <div class="links">
                <a (click)="logo()" class="icon-logo">
                    <span class="material-icons">NESBA</span>
                </a>
                <!-- <a >Link 1</a>
          <a >Link 2</a>
  
          <div class="dropdown-container">
            <details class="dropdown left">
              <summary>
                <span class="with-down-arrow">Abd elaziz</span>
              </summary>
              <ul>
                <li>
                  <p>
                    <span class="block bold">Abd elaziz</span>
                    <span class="block italic">abdelaziz@example.com</span>
                  </p>
                </li>
                <li>
                  <a >
                    <span class="material-icons">account_circle</span> Account
                  </a>
                </li>
                <li>
                  <a >
                    <span class="material-icons">settings</span> Settings
                  </a>
                </li>
                <li>
                  <a >
                    <span class="material-icons">help</span> Help
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a  (click)="logout()">
                    <span class="material-icons">logout</span> Logout
                  </a>
                </li>
              </ul>
            </details>
          </div> -->
            </div>

            <div class="dropdown-container">
                <details class="dropdown right">
                    <summary class="avatar">
                        <img src="../../../assets/videos/avatar.jpeg">
                    </summary>
                    <ul>
                        <li>
                            <p>
                                <span class="block bold">{{ userData?.firstName}}</span>
                                <span class="block italic">{{ userData?.email }}</span>
                            </p>
                        </li>
                        <li>
                            <a (click)="toAccount()"> Account </a>
                        </li>
                        <li>
                            <a (click)="toSettings()"> Settings </a>
                        </li>
                        <li>
                            <a (click)="toHelp()"> Help </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="logout()"> Logout</a>
                        </li>
                    </ul>
                </details>
            </div>
        </nav>
    </article>
</section>

<body>
    <div class="area"></div>
    <nav class="main-menu">
        <div class="logo-container">
            <img src="../.../../../../assets/images/nesbalogo.png" alt="Brand Logo" class="logo">
        </div>
        <ul>
            <li>
                <a (click)="toDashboard()">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li class="dropdown">
                <details>
                    <summary>
                        <i class="fa fa-money fa-2x"></i>
                        <span (click)="toFunding()" class="nav-text">Funding</span>
                    </summary>
                    <ul>
                        <li><a (click)="toPreviousFunding()">Previous Funding</a></li>
                        <li><a (click)="toFundingTracker()">Funding Tracker</a></li>
                    </ul>
                </details>
            </li>
            <li class="dropdown">
                <details>
                    <summary>
                        <i class="fa fa-credit-card fa-2x"></i>
                        <span (click)="toNewFinancing()" class="nav-text">New Financing</span>
                    </summary>
                    <ul>
                        <li><a (click)="toFinanceProducts()">Finance Products</a></li>
                        <li><a (click)="toCards()">Cards</a></li>
                        <li><a (click)="toInvestment()">Investment</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <a (click)="toEmails()">
                    <i class="fa fa-envelope-o fa-2x"></i>
                    <span class="nav-text">Recent Emails</span>
                </a>
            </li>
            <li>
                <a (click)="toUpcomingEvents()">
                    <i class="fa fa-calendar-o fa-2x"></i>
                    <span class="nav-text">Upcoming Events</span>
                </a>
            </li>
            <li>
                <a (click)="toDocument()">
                    <i class="fa fa-file-text-o fa-2x"></i>
                    <span class="nav-text">New Document</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-cogs fa-2x"></i>
                    <span class="nav-text">Tools & Resources</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">Member Map</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">Documentation</span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a (click)="logout()">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</body>