<div class="sidebar">
    <div class="sidebar-container">
        <div class="brand">
            <h3>
                <!-- <span class="lab la-staylinked"></span> -->
                NESBA
            </h3>
        </div>
        <div class="sidebar-avatar">
            <div>
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF9R2lxnH4fOw/profile-displayphoto-shrink_800_800/0/1639841285929?e=1654128000&v=beta&t=QvocDiNfivbaAzHjsX9fnl9eFa1ZSo4SBHeH4jZANEk"
                    alt="avatar">
            </div>
            <div class="avatar-info">
                <div class="avatar-text">
                    <h4>maz develop</h4>
                    <small>14-10-69</small>
                </div>
                <span class="las la-angle-double-down"></span>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="#" class="active"><span class="las la-adjust"></span><span>Dashboard</span></a></li>
                <li><a href="#"><span class="las la-video"></span><span>Videos</span></a></li>
                <li><a href="#"><span class="las la-chart-bar"></span><span>Analytics</span></a></li>
                <li><a href="#"><span class="las la-calendar"></span><span>Schedule</span></a></li>
                <li><a href="#"><span class="las la-user"></span><span>Account</span></a></li>
            </ul>
        </div>
        <div class="sidebar-card">
            <div class="side-card-icon">
                <span class="lab la-codiepie"></span>
            </div>
            <div>
                <h4>Make AdSense</h4>
                <p>add ads to your videos to earn money</p>
            </div>
            <button class="btn btn-main btn-block">Create now</button>
        </div>
    </div>
</div>